* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area img {
    height: 40px;
    width: auto;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-btn {
    text-decoration: none;
    color: #333;
    padding: 8px 18px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    background-color: #333;
    color: white;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8%;
    min-height: 85vh;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 30px;
}

.btn-comprar {
    display: inline-block;
    background-color: #e65b2e;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-comprar:hover {
    background-color: #cf4a1f;
    transform: translateY(-3px);
}

.circle-frame {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 12px solid #23354d;
    overflow: hidden;
}

.circle-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 900px) {
    header {
        flex-direction: column;
        gap: 15px;
    }
    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
    .circle-frame {
        width: 300px;
        height: 300px;
        margin-top: 40px;
    }
}